input {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: var(--blue-50);
  color: white;
  font-weight: 500;
}

h2 {
  margin-bottom: 1rem;
}
